* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(212, 45%, 89%);
}

.card {
	/* border: 2px solid red; */
	max-width: 300px;
	padding: 15px;
	text-align: center;
	font-family: "Outfit", sans-serif;
	border-radius: 20px;
	background-color: hsl(0, 0%, 100%);
	box-shadow: 0px 10px 15px 0px rgba(0, 0, 0, 0.1);
}

.card img {
	width: 100%;
	border-radius: 10px;
}

.card h1 {
	font-size: 22px;
	font-weight: 700;
	color: hsl(218, 44%, 22%);
}

.card p {
	font-size: 15px;
	font-weight: 400;
	color: hsl(216, 15%, 48%);
}

.card img,
.card h1 {
	margin-bottom: 15px;
}

.card p {
	margin-bottom: 20px;
}

.card h1,
.card p {
	padding-inline: 8px;
}

@media only screen and (max-width: 330px) {
	.card {
		width: 75%;
	}
}
