* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    border: 2px solid red;
    max-width: 300px;
    padding: 15px;
    text-align: center;
}

.card img {
    width: 100%;
}